body 
{
    margin: 0 auto;
    position: relative;
    
    max-width: 1438px;
    height: 10150px;
    background: #FFFFFF;
}

main 
{

}

li 
{
    list-style-type: none;
}

.header-line 
{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 99.18%;
    align-items: center;
    
    background: #131313;   
}

.logo-title
{
    position: absolute;
    left: 5.7%;
    right: 81.8%;
    top: 0.36%;
    bottom: 99.54%;
    
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #E3B873;  
}

button {
background: none;
border: none;
cursor: pointer;

}

.nav-button-home
{
    position: absolute;
    left: 24.84%;
    right: 72.38%;
    top: 0.36%;
    bottom: 35%;
    
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    
    color: #E3B873;
    
}

.nav-button-projects
{
    position: absolute;
    left: 30.9%;
    right: 65.07%;
    top: 0.36%;
    bottom:35%;
    
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;  
}

.nav-button-measurement
{
    position: absolute;
    left: 38.2%;
    right: 55.26%;
    top: 0.36%;
    bottom: 35%;
    
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF; 
}

.nav-button-team
{
    position: absolute;
    left: 48.02%;
    right: 49.62%;
    top: 0.36%;
    bottom: 35%;
    
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.nav-button-rewiiws
{
   position: absolute;
left: 53.65%;
right: 42.66%;
top: 0.36%;
bottom: 35%;

font-family: FuturaBookC;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}

.nav-button-contacts 
{
    position: absolute;
    left: 60.61%;
    right: 34.73%;
    top: 0.36%;
    bottom: 35%;
    
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.contact-number
{
    position: absolute;
    left: 69.96%;
    right: 21.28%;
    top: 0.36%;
    bottom: 35%;
    
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-decoration-line: underline;
    
    color: #E3B873;    
}

.call-request-button 
{
    position: absolute;
    left: 81.85%;
    right: 6.95%;
    top: 13.66%;
    bottom: 35%;
    width: 161px;
    height: 37px;
    
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;     
}

.title-call-request-button
{
    position: absolute;
    left: 84.14%;
    right: 9.25%;
    top: 13.66%;
    bottom: 35%;
    width: 161px;
    
    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.instagram-block
{
    position: absolute;
    left: -312px;
    top: 394px;
    width: 708px;
    height: 84px;
    background: #131313;
    transform: rotate(-90deg);
}

.title-instagram
{
    position: absolute;
    left: 391px;
    top: 35px;
    
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    
    color: #E3B873;
    
    transform: rotate(180deg);
     
}

.info-block 
{
position: absolute;

left: 5.7%;
right: 0%;
top: 0.82%;
bottom: 92.22%;
background-image: url("background/sector1-bg.png");
}

.title-info-block
{
position: absolute;
margin-top: 194px;
margin-left: 60px;


font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;
text-transform: uppercase;

color: #FFFFFF;
}

.text-info 
{
    position: absolute;
    margin-top: 318px;
    margin-left: 60px;
    
    font-family: FuturaBookC;
    font-size: 22px;
    line-height: 30px;
    
    color: #FFFFFF;  
}

.calculate-cost-button
{
position: absolute;
margin-top: 448px;
margin-left: 60px;

width: 207px;
height: 51px;

background: #E3B873;
box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
border-radius: 2px;
}

.title-calculate-cost-button
{
position: absolute;
font-family: FuturaDemiC;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}

.submit-application-button
{
position: absolute;
margin-top: 448px;
margin-left: 287px;

width: 207px;
height: 51px;


border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
}

.title-submit-application-button
{
    position: absolute;

    font-family: FuturaDemiC;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    
    color: #FFFFFF;
}

.scroll-down-button
{
margin-top: 600px;
margin-left: -127px;

width: 247px;
height: 97px;
z-index: 1;
background: #131313;  
}

.title-scroll-down-button
{
position: absolute;
left: 3.34%;
right: 89.08%;
top: 7.69%;
bottom: 92.13%;

font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;

color: #FFFFFF;
}
/*------------------------------------------------------------------------------------------------------------------------------*/
.projects
{
position: absolute;
left: -0.03%;
right: -0.11%;
top: 7.78%;
bottom: 81.64%;

background: #131313;
z-index: 0;
}


.title-completed-projects-block
{
    position: absolute;
    left: 101.45px;
    top: 156.36px;
    
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    
    color: #E3B873;
    
}

.completed-projects-info-block
{
    position: absolute;
    left: 101.45px;
    top: 256.36px;

font-family: FuturaBookC;
font-size: 18px;
line-height: 29px;

color: #FFFFFF;
}

.text-city
{
    
    top: 404.36px;
    left: 99.59px;

    font-size: 18px;
}

.info-text-city
{
    top: 435.36px;
    left: 99.59px;

    font-size: 15px;
}

.text-area
{
    top: 404.36px;
    left: 290.98px;

    font-size: 18px;  
}

.info-text-area
{
    top: 435.36px;
    left: 290.98px;

    font-size: 15px;  
}

.text-time
{
    top: 511.36px;
    left: 99.59px;

    font-size: 18px;   
}

.info-text-time
{
    top: 542.36px;
    left: 99.59px;

    font-size: 15px;   
}

.text-cost
{
    top: 511.36px;
    left: 290.98px;

    font-size: 18px;  
}

.info-text-cost
{
    top: 542.36px;
    left: 290.98px;

    font-size: 15px;  
}

.title-project 
{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: white;    
}

.title-admiral
{
    position: absolute;
    right: 484px;
    top: -45px; 
    width: 194px;
    color: #E3B873;
}

.title-sochi
{
    position: absolute;
    right: 258px;
    top: -45px; 
    width: 209px;
    color: white;
}

.title-patriotic
{
    position: absolute;
    right: 30px;
    top: -45px; 
    width: 199px;
    color: white;
}

.image-project
{
    position: absolute;
    right: 0px;
    
}

.sochi-project
{

height: 482px;
width: 679px;

}

.patriotic-project
{
    height: 482px;
    width: 679px;  
}

#carousel
{
    display: inline-block;
    position: absolute;
    margin-top: 170px;
    left: 592.05px;
    width: 680px;
	height: 483px;
}

.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}


#controls{
		position: relative;
		left: 300px;
	    width: 200px;
}

#left
{
    position: relative;
    left: 0px;
    top: 270px;
   
    width: 77px;
    height: 77px;
    border-radius: 50px;
    background-image: url("icons/slider-next.svg");
}

#index{
	display: inline-block;
    width: 33.3%;
    text-align: center;
}

#right
{
    position: relative;
    
    top: 270px;
    left: 0px;
    width: 77px;
    height: 77px;
    border-radius: 50px;
    background-image: url("icons/slider-next.svg");
    transform: scale(-1, 1); 
}

/*--------------------------------------------------------------------------*/

.measurement
{
    position: absolute;


background: #e2dcdc;
z-index: 0;
width: 1438px;
height: 800.32px;
top: 1863px;
}

.job-tracking-info
{
    position: absolute;
    left: 26.36%;
    right: 26.29%;
    top: 21.38%;
    bottom: 77.33%;

    width: 681px;
    
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    
    color: #363636;
}

.form-trackin-application
{
position: absolute;
left: 337px; 
top: 553.92px;
font-family: FuturaBookC;
font-size: 15px;
line-height: 20px;

color: rgba(54, 54, 54, 0.5);
}